@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
body,
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono';
    background: #001E3D;
    min-height: 100vh;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 100vw;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;

}

header .logo-container a img {
    width: clamp(3rem, 10vw, 4rem);
}

header .nav-container nav {
    display: flex;
    align-items: center;
}

header .nav-container nav ul {
    display: flex;
    gap: clamp(1rem, 5vw, 3rem);
    align-items: center;
}

header .nav-container nav ul li {
    list-style: none;
}

header .nav-container nav ul li a {
    color: white;
    text-decoration: none;
}

header .nav-container nav ul li a::after {
    content: '';
    display: block;
    height: 3px;
    background: linear-gradient(to right, #FFD254, #FF6B35);
    transition: all 0.25s ease-in-out;
    width: 0;
}

header .nav-container nav ul li a:hover::after {
    width: 100%;
}


header .search-container #search {
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    border-radius: 20px;
    background: #0066CC;
    color: white;
    font-weight: 600;
    border: none;
    font-family: 'JetBrains Mono';
}

main {
    padding-top: 80px;
}


.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px 0px 10px
}

.hero h1 {
    color: transparent;
    font-size: clamp(2rem, 10vw, 6rem);
    text-align: center;
    background: linear-gradient(to right, #FF6B35, #FFD254, #FF6B35);
    background-size: 200%;
    background-clip: text;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200%;
    }
}

.hero h2 {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    margin-top: 50px;
    font-size: clamp(1rem, 4vw, 2rem);
}

.hero .buttons-container {
    margin-top: 50px;
}

.hero .buttons-container .explore {
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    border: none;
    font-size: 1.5em;
    font-family: 'JetBrains Mono';
    margin: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background: linear-gradient(to right, #ff4400, #ffbb00);
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    font-weight: 700;
    text-decoration: none;
    position: relative;
}

.hero .buttons-container .explore::before {
    content: '';
    width: 170px;
    height: 52px;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to right, #ff4400, #ffbb00);
    top: 0;
    left: 0;
    inset: -5px;
    filter: blur(15px);
    opacity: 0.0;
    transition: all 0.3s ease-in-out;
}

.hero .buttons-container .explore:hover::before {
    opacity: 1;
}

.hero .buttons-container .explore:hover {
    transform: scale(1.1);
}

.hero .buttons-container .know-more {
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    border: 0.5px solid white;
    font-size: 1.5em;
    font-family: 'JetBrains Mono';
    background: transparent;
    color: white;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}

.hero .buttons-container .know-more:hover {
    background: white;
    color: black;
    opacity: 1;
}

.wrap {
    height: 80px;
}

.choose-language {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.choose-language .choose-language-h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.choose-language .choose-language-h2 {
    font-size: 80px;
}

.choose-language span {
    background: linear-gradient(to right, #ff4400, #FFD254, #ff4400);
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: shine 3s linear infinite;
    margin-top: 0px;
}

.choose-language .choose-language-p {
    font-size: 28px;
    margin-top: 20px;
}

.languages-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    gap: 20px;
}

.javascript-container {
    height: clamp(400px, 693px, 700px);
    width: 100%;
    background: #002851;
    padding: clamp(2rem, 5vw, 4rem);
    border-radius: 20px;
    text-align: start;
    border: 1px solid #334b64;
}

.javascript-container h3,
.language-h3 {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.javascript-container h2 {
    font-size: clamp(2rem, 6vw, 3.75rem);
}

.javascript-container p,
.language-p {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    margin-bottom: 40px;
}

.javascript-container .acess-a,
.acess-a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    transition: all 0.2s ease-in-out;
}

.javascript-container .acess-a:hover,
.acess-a:hover {
    background: #ffbb00;
    color: black;
    font-weight: 600;
    border: 1px solid #ffbb00;
    box-shadow: 0px 0px 10px #ffbb00;
}

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.language-container {
    height: auto;
    width: 100%;
    background: #002851;
    padding: clamp(1rem, 3vw, 2rem);
    border-radius: 20px;
    text-align: start;
    border: 1px solid #334b64;
}


.language-container .language-h2 {
    font-size: clamp(1.4rem, 3.5vw, 1.75rem);
}

.language-container .language-p {
    margin-bottom: 25px;
}

/* Tablet styles */
@media (max-width: 1024px) {
    header .nav-container nav ul {
        gap: clamp(0.5rem, 3vw, 1.5rem);
    }

    .hero .buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .choose-language .choose-language-h2 {
        font-size: clamp(3rem, 8vw, 5rem);
    }

    .choose-language .choose-language-p {
        font-size: clamp(1.4rem, 3vw, 1.75rem);
    }

    .languages-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .right {
        grid-template-columns: 1fr;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    header {
        /* flex-direction: column; */
        padding: 10px;
        align-items: center;
        justify-content: space-between;
    }

    header .nav-container .home-a {
        display: none;
    }

    header .nav-container .about-a {
        display: none;
    }

    header .logo-container {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    header .nav-container nav ul {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    main {
        padding-top: 00px;
    }

    .hero {
        padding: 20px;
        height: auto;
        min-height: 60vh;
    }

    .hero h1 {
        font-size: clamp(1.5rem, 8vw, 3rem);
    }

    .hero h2 {
        font-size: clamp(0.8rem, 3vw, 1.5rem);
        margin-top: 30px;
    }

    .hero .buttons-container {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .wrap {
        height: 0;
    }

    .hero .buttons-container .explore,
    .hero .buttons-container .know-more {
        font-size: 1.2rem;
        padding: 12px 30px;
        margin: 10px 0;
    }

    .choose-language {
        margin-top: 50px;
        padding: 0 20px;
    }

    .choose-language .choose-language-h3 {
        font-size: clamp(1rem, 4vw, 1.5rem);
    }

    .choose-language .choose-language-h2 {
        font-size: clamp(2rem, 6vw, 3rem);
    }

    .choose-language .choose-language-p {
        font-size: clamp(1rem, 3vw, 1.4rem);
    }

    .languages-container {
        margin-top: 50px;
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .javascript-container {
        height: auto;
    }

    .javascript-container,
    .language-container {
        padding: 20px;
    }

    .javascript-container h2 {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
    }

    .language-container .language-h2 {
        font-size: clamp(1.2rem, 3vw, 1.5rem);
    }
}